/* ========== CSS Variables =========== */
:root {
    --primary-color: #2d3050;
    --box-shadow: 0 5px 15px rgba(105, 117, 227, 0.7);
    --light-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --footer-color: rgba(105, 117, 227, 0.25);
    --light-blue: rgba(105, 117, 227, 0.15);
    --black: #0b132a;
    --white: #fff;
    --default: #4f5665;
    --grey: #e0e0e0;
    --yellow: #fea250;
    --orange: #3b1804;
    --pink: #ffbcbc;
    --blue: #389af5;
    --brown: #a95e19;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}







section {
    padding: 5rem 0 5rem;
    overflow: hidden;
}

p {
    line-height: 3rem;
}

/* ========== Custom Classes =========== */
.container {
    max-width: 135rem;
    padding: 0 3rem;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}



/*haeder*/
.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    padding: 0 15px;
    animation: slide 2s ease;
}

.home .slide.active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.container {
    max-width: 1170px;
    margin: auto;

}

.home .container {
    flex-grow: 1;
}

.home .caption {
    width: 50%;
}

.home .caption h1 {
    font-size: 42px;
    color: var(--white);
    margin: 0;

}

.home .slide.active .caption h1 {
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1s;
}

.home .caption p {
    font-size: 18px;
    margin: 15px 0 30px;
    color: white;
}

.home .slide.active .caption p {
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.2s;
}

.home .caption a {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: #ffffff;
}

.home .slide.active .caption a {
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.4s;
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .controls .prev,
.home .controls .next {
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #ffffff;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
    background-color: var(--blue);
}

.home .controls .prev {
    left: 0;
}

.home .controls .next {
    right: 0;
}

.home .indicator {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
    transform: translateX(-50%);
}

.home .indicator div {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: var(--default);
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
}

.home .indicator div.active {
    background-color: var(--primary-color);
}

/*responsive*/
@media(max-width: 767px) {
    .controls {
        display: none;
    }
}


















/* ========== Hero Area =========== */
.hero {
    min-height: calc(100vh - 10.3rem);
    justify-content: center;
}

.hero .row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
}

.hero .row .col:first-child h1 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.hero .row .col:first-child h1 span {
    color: var(--primary-color);
}

.hero .row .col:first-child p {
    margin-bottom: 3.5rem;
    width: 80%;
}

.hero .row .col:first-child p span {
    font-weight: 600;
}

.hero .row .col:first-child .btn {
    padding: 1.4rem 5rem;
}

::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 4rem;
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh var(--white);
}

/* ========== Media Query =========== */

@media (max-width: 996px) {
    .hero .row {
        grid-template-columns: 1.3fr 1fr;
    }

    .hero .row .col img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .hero {
        margin-top: 4rem;
    }

    .hero .row {
        grid-template-columns: 1fr;
        gap: 5rem 0;
    }

    .hero .row .col:first-child h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 567px) {
    .hero .row .col:first-child h1 {
        font-size: 3rem;
    }

    .hero .row .col:first-child p {
        width: 100%;
    }
}

/* ========== Icons =========== */
.header .icons {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--light-blue);
    padding: 2rem 1.5rem;
    border-radius: 3.5rem 0 0 3.5rem;
    box-shadow: var(--light-box-shadow);
    z-index: 1000;
}

.header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 50%;
    padding: 0.7rem;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header .icon:not(:last-child) {
    margin-bottom: 4rem;
}

@media (max-width: 567px) {
    .header .icons {
        padding: 1.5rem 1rem;
    }

    .header .icon {
        padding: 0.5rem;
    }
}

/* ========== User Data =========== */
.user-data .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 1px solid var(--light-blue);
    border-radius: 1rem;
    box-shadow: var(--light-box-shadow);
    padding: 7rem 3rem;
}

.user-data .row .col:nth-child(2) {
    border-right: 1px solid var(--light-blue);
    border-left: 1px solid var(--light-blue);
    padding: 0 5rem;
}

.user-data .row .col {
    justify-content: center;
}

.user-data .row .col .icon {
    background-color: var(--light-blue);
    color: var(--primary-color);
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
    justify-content: center;
    margin-right: 3rem;
}

.user-data .row .col div span {
    display: block;
}

.user-data .row .col div .number {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* ========== Media Query =========== */
@media (max-width: 567px) {
    .user-data .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 0;
    }

    .user-data .row .col:nth-child(2) {
        border: none;
        padding: 0 2rem;
    }
}

/* ========== About =========== */
.section .title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.section.about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

.about .col h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.about .col p {
    margin-bottom: 2rem;
}

.about .col li {
    display: flex;
    align-items: center;
    line-height: 4rem;
}

.about .col li img {
    margin-right: 1rem;
}

@media (max-width: 968px) {
    .section.about .row {
        grid-template-columns: 1fr 1.3fr;
    }

    .about .col .image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section.about .row {
        grid-template-columns: 1fr;
    }

    .section .title,
    .about .col h3 {
        font-size: 3rem;
    }
}

/* ========== About #2 =========== */
.about-2 .row {
    padding: 6rem 3rem;
    border-top: 1px solid var(--grey);
}

.about-2 .image {
    max-width: 600px;
}

.about-2 .row .col:first-child {
    grid-column: 2;
    grid-row: 1;
}

@media (max-width: 968px) {
    .section.about-2 .row {
        grid-template-columns: 1.3fr 1fr;
    }
}

@media (max-width: 768px) {
    .section.about-2 .row {
        grid-template-columns: 1fr;
    }

    .about-2 .row .col:first-child {
        grid-column: 1;
        grid-row: 1;
    }
}

/*whyus*/

.whyUs {
    display: block;
    position: relative;
    padding: 0;

}

.why-container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.why-title {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.why-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;

}

.title {
    margin-left: 15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 40px;
    text-align: center;
    top: 26px;
}

/**
.services-title>span {
height: 36px;
width: 130px;
margin: 0 auto;
margin-bottom: 20px;
display: inline-block;
font-size: 20px;
color:rgb(255, 74, 50);

}****/


.why-card {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.333333%;

}

.ser-box {
    margin-top: 75px;
    padding: 0 60px;
    padding-bottom: 30px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, .17);
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .17);
}

.why-card .icon {
    margin-bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.ser-box h4 {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #3c44a9;
    margin-top: -10px;
    font-family: 'Ubuntu', sans-serif;

}

.ser-box p {
    color: #61648e;
    line-height: 24px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;

}


.ser-box:hover {
    background-image: -moz-linear-gradient(-45deg, #38425e 0%, #221f3b 100%);
    background-image: -webkit-linear-gradient(-45deg, #4a5d85 0%, #5f6fb8 100%);
    background-image: -ms-linear-gradient(-45deg, #1c193b 0%, #2d2a36 100%);
    -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer
}

.ser-box:hover h4,
.ser-box:hover p {
    color: #fff
}



.why-box .box:nth-child(1) .ser-box:hover {
    background-image: -webkit-linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.why-box .box:nth-child(3) .ser-box:hover {
    background-image: -webkit-linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.why-box .box:nth-child(4) .ser-box:hover {
    background-image: -webkit-linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}

.why-box.box:nth-child(5) .ser-box:hover {
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
    background-image: -webkit-linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);

}

.why-box .box:nth-child(6) .ser-box:hover {
    background-image: -webkit-linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}






@media (min-width: 768px) {
    .why-card {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

}



@media (min-width: 600px) {
    .why-card {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

}





@media (min-width: 992px) {
    .why-card {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
}


@media (min-width: 414px) {
    .why-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width: 370px) {
    .why-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width: 320px) {
    .why-card {
        flex: 0 0 100%;
        max-width: 100%;
    }

}







/* ========== Languages =========== */
.languages .title {
    margin-bottom: 10rem;
}

.languages .image {
    width: 70rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 0;
}

.languages .image img {
    margin: 0 auto;
}

.languages .image .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    border-radius: 50%;
    border: 2px solid var(--light-blue);
    z-index: -1;
}

.languages .image .circle-1 {
    width: 40rem;
    height: 40rem;
}

.languages .image .circle-2 {
    width: 50rem;
    height: 50rem;
}

.languages .language {
    position: absolute;
    display: grid;
    align-items: center;
    width: 50rem;
}

.languages .language .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--white);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: var(--light-box-shadow);
}

.languages .language-1 {
    grid-template-columns: 3.5fr 1fr;
    top: 3rem;
    left: -37rem;
}

.languages .language-1 .icon {
    background-color: var(--yellow);
}

.languages .language-1 div {
    text-align: right;
    margin-right: 3rem;
}

.languages .language-2 {
    grid-template-columns: 1fr 3.5fr;
    top: 3rem;
    right: -38rem;
}

.languages .language-2 .icon {
    background-color: var(--orange);
}

.languages .language-2 div {
    text-align: left;
    margin-left: 3rem;
}

.languages .language-3 {
    grid-template-columns: 1fr 3.5fr;
    top: 50%;
    right: -44rem;
}

.languages .language-3 .icon {
    background-color: var(--pink);
}

.languages .language-3 div {
    text-align: left;
    margin-left: 3rem;
}

.languages .language-4 {
    grid-template-columns: 3.5fr 1fr;
    top: 50%;
    left: -43rem;
}

.languages .language-4 .icon {
    background-color: var(--default);
}

.languages .language-4 div {
    text-align: right;
    margin-right: 3rem;
}

.languages .language-5 {
    grid-template-columns: 1fr 3.5fr;
    bottom: 3rem;
    right: -38rem;
}

.languages .language-5 .icon {
    background-color: var(--brown);
}

.languages .language-5 div {
    text-align: left;
    margin-left: 3rem;
}

.languages .language-6 {
    grid-template-columns: 3.5fr 1fr;
    bottom: 3rem;
    left: -37rem;
}

.languages .language-6 .icon {
    background-color: var(--blue);
}

.languages .language-6 div {
    text-align: right;
    margin-right: 3rem;
}

@media (max-width: 1300px) {

    .languages .language-1 div,
    .languages .language-2 div,
    .languages .language-3 div,
    .languages .language-4 div,
    .languages .language-5 div,
    .languages .language-6 div {
        display: none;
    }

    .languages .language-1 {
        left: 3rem;
    }

    .languages .language-4 {
        left: -4rem;
    }

    .languages .language-6 {
        left: 3rem;
    }
}

@media (max-width: 768px) {
    .languages .image {
        width: 100%;
    }

    .languages .image img {
        width: 20rem;
    }

    .languages .image .circle-1 {
        width: 30rem;
        height: 30rem;
    }

    .languages .image .circle-2 {
        width: 40rem;
        height: 40rem;
    }

    .languages .language .icon {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 567px) {
    .languages .image img {
        width: 17rem;
    }

    .languages .image .circle-1 {
        width: 20rem;
        height: 20rem;
    }

    .languages .image .circle-2 {
        width: 27rem;
        height: 27rem;
    }

    .languages .language .icon {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1rem;
    }

    .languages .language-1 {
        left: 1rem;
    }

    .languages .language-2,
    .languages .language-5 {
        right: -42rem;
    }

    .languages .language-3 {
        right: -45rem;
    }

    .languages .language-4 {
        left: -2rem;
    }

    .languages .language-6 {
        left: 1rem;
    }
}

/* ========== Testimonials =========== */
.testimonials .top {
    text-align: center;
    margin-bottom: 5rem;
    padding: 0 1rem;
}

.testimonials .top h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.testimonials .top p {
    width: 50%;
    margin: auto;
}

.testimonials .card {
    border: 1px solid var(--grey);
    padding: 2rem;
    border-radius: 1rem;
    height: 22rem;
}

.testimonials .image {
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;
}

.testimonials .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .card .col:first-child {
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.testimonials .info h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.testimonials .info span {
    font-size: 1.4rem;
}

.testimonials .rating span:first-child {
    font-weight: 500;
    margin-right: 0.5rem;
}

.testimonials .rating i {
    color: var(--yellow);
}

.testimonials .card:hover {
    background-color: var(--primary-color);
}

.testimonials .card:hover .rating span:first-child,
.testimonials .card:hover .col,
.testimonials .card:hover .col h4 {
    color: var(--white);
}

.testimonials .navigation {
    margin-top: 4rem;
    justify-content: space-between;
}

.swiper-pagination-bullet {
    background-color: var(--primary-color);
    height: 1rem;
    width: 1rem;
}

.swiper-pagination-bullet-active {
    width: 3rem;
    border-radius: 1.5rem;
}

.custom-button {
    padding: 1.2rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 1rem;
    font-size: 2.5rem;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

@media (max-width: 768px) {
    .testimonials .top h2 {
        font-size: 3rem;
    }

    .testimonials .top p {
        width: 100%;
    }
}





/* Scroll Top */
.scroll-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: var(--primary-color);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    animation: grow 1s linear infinite alternate;
    cursor: pointer;
    justify-content: center;
    display: none;
}

.scroll-top i {
    font-size: 2.5rem;
    color: var(--white);
}

@keyframes grow {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.scroll-top.show {
    display: block;
}